.black {
  color: #2A2A2A; }

.light_grey {
  color: #F5F5F5; }

.gold {
  color: #E3C880; }

.white {
  color: #FFFFFF; }

.dark_grey {
  color: #353535; }

.greyish_brown {
  color: #414141; }

.denim {
  color: #377570; }

.seafoam_blue {
  color: #5CC3BB; }

.brown_grey {
  color: #A0A0A0; }

header {
  background-color: #2A2A2A; }

body {
  margin: 0;
  min-width: 1280px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px; }
  body.heavy {
    font-weight: bold; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  line-height: 56px; }

.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: bold; }
  .subtitle.large {
    font-size: 32px;
    line-height: 40px; }
  .subtitle.medium {
    font-size: 24px;
    line-height: 32px; }
  .subtitle.small {
    font-size: 16px;
    line-height: 24px; }

h3 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 32px; }
  h3.tooltip {
    color: #FFFFFF; }

h4 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 24px; }

h5 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px; }
  h5.heavy {
    font-weight: bold; }
  h5.link {
    line-height: 32px; }

h6 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px; }

a {
  font-family: "Lato", sans-serif;
  text-decoration: none; }

.tag {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px; }

nav {
  text-transform: uppercase; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex; }
  nav li {
    flex-grow: 1; }
  nav#primary {
    padding: 29px 0 11px 40px;
    word-spacing: 5px; }
    nav#primary #tcm-logo {
      width: 113px;
      position: relative;
      top: -5px; }
    nav#primary a {
      color: #FFFFFF;
      font-size: 16px;
      line-height: 24px; }
    nav#primary input[type=search] {
      color: #FFFFFF;
      font-size: 16px;
      width: 398px;
      height: 38px;
      padding: 0 20px;
      border-style: solid;
      border-width: 1px;
      border-color: #414141;
      border-radius: 1px;
      background-color: #303030;
      box-sizing: border-box;
      -webkit-appearance: none;
      position: relative;
      top: -4px; }
    nav#primary .fa-search {
      color: #FFFFFF;
      position: relative;
      left: -50px;
      top: -1px; }
    nav#primary .fa-chevron-down {
      font-size: 15px;
      color: #FFFFFF;
      position: relative;
      top: 1px; }
  nav#secondary {
    padding: 4px 0 12px 40px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #414141; }
    nav#secondary a {
      font-size: 14px;
      line-height: 16px;
      color: #A0A0A0; }
    nav#secondary .fa-ellipsis-h {
      color: #A0A0A0;
      position: relative;
      top: 3px; }
