.black {
  color: #2A2A2A; }

.light_grey {
  color: #F5F5F5; }

.gold {
  color: #E3C880; }

.white {
  color: #FFFFFF; }

.dark_grey {
  color: #353535; }

.greyish_brown {
  color: #414141; }

.denim {
  color: #377570; }

.seafoam_blue {
  color: #5CC3BB; }

.brown_grey {
  color: #A0A0A0; }

body {
  margin: 0;
  min-width: 1280px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px; }
  body.heavy {
    font-weight: bold; }

.primary a {
  font-size: 16px;
  line-height: 24px; }

nav {
  text-transform: uppercase; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  nav li {
    flex-grow: 1; }
  nav.primary {
    padding: 29px 0 11px 40px;
    word-spacing: 5px; }
    nav.primary #tcm-logo {
      width: 113px;
      position: relative;
      top: -5px; }
    nav.primary a {
      color: #FFFFFF; }
    nav.primary input[type=search] {
      color: #FFFFFF;
      font-size: 16px;
      width: 398px;
      height: 38px;
      padding: 0 20px;
      border-style: solid;
      border-width: 1px;
      border-color: #414141;
      border-radius: 1px;
      background-color: #303030;
      box-sizing: border-box;
      -webkit-appearance: none;
      position: relative;
      top: -4px; }
    nav.primary .fa-search {
      color: #FFFFFF;
      position: relative;
      left: -50px;
      top: -1px; }
    nav.primary .fa-chevron-down {
      font-size: 15px;
      color: #FFFFFF;
      cursor: pointer;
      position: relative;
      top: 1px; }
  nav#secondary {
    padding: 4px 0 12px 40px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #414141; }
    nav#secondary a {
      font-size: 14px;
      line-height: 16px;
      color: #A0A0A0; }
    nav#secondary .fa-ellipsis-h {
      color: #A0A0A0;
      position: relative;
      top: 3px; }

header {
  background-color: #2A2A2A;
  min-height: 338px;
  height: 569px;
  position: relative; }
  header nav ul {
    display: flex; }
  header > div {
    width: 31%;
    padding: 0 0 5px 39px;
    position: absolute;
    bottom: 0; }
    header > div #film_duration {
      margin-right: 15px; }
    header > div #film_date {
      margin: 0 15px; }
    header > div .film_rating {
      margin-left: 15px; }
  header > .image {
    width: 785px;
    height: 458px;
    position: absolute;
    right: 0;
    bottom: -65px;
    background-size: cover; }

.film_rating {
  font-family: "Volkhorn", serif;
  font-weight: bold;
  border: 1px solid; }

h1, h2 {
  margin-bottom: 16px; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  line-height: 56px; }

.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: bold; }
  .subtitle.large {
    font-size: 32px;
    line-height: 40px; }
  .subtitle.medium {
    font-size: 24px;
    line-height: 32px; }
  .subtitle.small {
    font-size: 16px;
    line-height: 24px; }

h3 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 32px; }
  h3.tooltip {
    color: #FFFFFF; }

h4 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 6px; }

h5 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal; }
  h5.heavy {
    font-weight: bold; }
  h5.link {
    line-height: 32px; }

h6 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px; }

a {
  font-family: "Lato", sans-serif;
  text-decoration: none; }

.tag {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px; }

main {
  display: flex; }
  main nav, main > div {
    display: flex;
    flex-direction: column; }
  main > div {
    width: 100%;
    padding: 96px 0 0 48px; }
  main .primary a {
    color: #5CC3BB; }
  main nav {
    width: 404px;
    background-color: #F5F5F5; }
    main nav ul li {
      margin-bottom: 16px; }
    main nav.primary {
      padding: 57px 0 11px 40px;
      box-sizing: border-box; }
      main nav.primary li:first-child a {
        border-color: #5CC3BB; }
      main nav.primary li a {
        color: #2A2A2A;
        border-left-style: solid;
        padding-left: 15px;
        border-color: #F5F5F5; }
  main section {
    position: relative;
    margin-bottom: 12px; }
    main section .fa-arrow-right {
      font-size: 12px;
      color: #5CC3BB;
      position: relative;
      top: -1px;
      left: 6px; }
    main section .primary {
      position: absolute;
      top: 75px;
      right: 54px; }
    main section#cast .row {
      height: 78px;
      margin-top: 24px;
      position: relative; }
      main section#cast .row div {
        width: 30%;
        height: 70px;
        padding: 10px;
        position: absolute;
        top: 0; }
        main section#cast .row div:hover {
          box-shadow: 0 -1em 1em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          cursor: pointer; }
      main section#cast .row div:nth-child(2) {
        left: 33%; }
      main section#cast .row div:nth-child(3) {
        left: 66%; }
      main section#cast .row h4, main section#cast .row h6 {
        margin-top: 0; }
    main section#photos_videos #container {
      margin: 50px 54px 0 0;
      padding: 0 0 0 0;
      font-size: 0;
      position: relative; }
      main section#photos_videos #container div {
        display: inline-block;
        width: 48%;
        margin: 0 5px 5px 0;
        box-sizing: border-box; }
        main section#photos_videos #container div#main {
          min-height: 440px;
          margin-bottom: 0;
          background-size: cover;
          background-position: top 30% left 50%; }
          main section#photos_videos #container div#main:hover {
            background-color: #2A2A2A;
            opacity: 0.5;
            cursor: pointer; }
        main section#photos_videos #container div .block {
          display: block;
          width: 50%;
          height: 49%;
          position: absolute;
          top: 0; }
          main section#photos_videos #container div .block:nth-child(2) {
            top: 51%; }
          main section#photos_videos #container div .block div {
            height: 100%;
            background-size: cover;
            background-position: top 30% left 50%; }
            main section#photos_videos #container div .block div:hover {
              background-color: #2A2A2A;
              opacity: 0.5;
              cursor: pointer; }
    main section#film_details {
      font-size: 16px; }
      main section#film_details table {
        width: 100%;
        margin-top: 25px; }
        main section#film_details table tr td:first-child {
          font-weight: bold; }
        main section#film_details table tr td {
          width: 20%;
          padding: 0 5% 5px 0;
          vertical-align: top; }
          main section#film_details table tr td a {
            color: #2A2A2A;
            text-decoration: underline; }
      main section#film_details h3 {
        margin-top: 31px; }
    main section#trending_on_tcm #programming {
      margin-top: 31px;
      display: flex; }
      main section#trending_on_tcm #programming .program {
        padding: 10px 0 10px 0;
        margin-right: auto; }
        main section#trending_on_tcm #programming .program div {
          width: 275px;
          height: 156px;
          margin: 0 10px 0 10px; }
          main section#trending_on_tcm #programming .program div:nth-child(2) {
            height: 132px; }
          main section#trending_on_tcm #programming .program div h6 {
            margin-top: 16px;
            margin-bottom: 0;
            padding: 5px;
            background-color: #F5F5F5;
            display: inline-block; }
          main section#trending_on_tcm #programming .program div h4 {
            margin-top: 7px; }
        main section#trending_on_tcm #programming .program:nth-child(1) div:first-child {
          background-image: url(https://s3.drafthouse.com/images/made/vlcsnap-2013-12-22-20h37m41s120_1050_591_81_s_c1.jpg);
          background-size: cover; }
        main section#trending_on_tcm #programming .program:nth-child(2) div:first-child {
          background-image: url(https://miro.medium.com/max/678/1*79RDVkYe_fw0gd616TPI8A.jpeg);
          background-size: cover; }
        main section#trending_on_tcm #programming .program:nth-child(3) div:first-child {
          background-image: url(https://attractionsmagazine.com/wp-content/uploads/2016/12/The-Princess-Bride-featured.jpg);
          background-size: cover; }
        main section#trending_on_tcm #programming .program:hover {
          box-shadow: 0 -1em 1em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          cursor: pointer; }
    main section#introductory_offer {
      margin: 71px 12px 2px 0;
      padding: 20px 2px 0 0;
      position: relative; }
      main section#introductory_offer .container {
        width: 98%;
        height: 435px;
        box-sizing: border-box;
        box-shadow: 0 -1em 1em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); }
        main section#introductory_offer .container div {
          display: inline-block;
          box-sizing: border-box; }
          main section#introductory_offer .container div.image {
            width: 25%;
            height: 372px;
            margin: 34px 100px;
            background-image: url(https://thegoldengirlblog.com/wp-content/uploads/2017/10/movie-night-in-6.jpg);
            background-size: cover; }
          main section#introductory_offer .container div:nth-child(2) {
            position: absolute; }
          main section#introductory_offer .container div.text {
            width: 48%; }
            main section#introductory_offer .container div.text p {
              font-size: 17px; }
            main section#introductory_offer .container div.text .primary {
              position: static; }
          main section#introductory_offer .container div h6 {
            margin-top: 32px;
            margin-bottom: 0;
            padding: 5px;
            background-color: #F5F5F5;
            display: inline-block; }
      main section#introductory_offer .emphasis.horizontal {
        width: 160px;
        position: absolute;
        top: 0;
        right: 0; }
      main section#introductory_offer .emphasis.vertical {
        width: 4px;
        height: 64px;
        position: absolute;
        top: 0;
        right: 0; }

footer {
  margin-top: 114px;
  height: 321px;
  position: relative; }
  footer > div {
    display: inline-block; }
  footer #sign_up {
    width: 37.2%;
    padding: 10px 10px 0 0;
    position: relative; }
    footer #sign_up .container {
      width: 96%;
      height: 286px;
      padding: 47px 65px;
      color: #FFFFFF;
      background-color: #353535;
      text-align: center;
      box-sizing: border-box;
      position: absolute;
      top: 21px; }
      footer #sign_up .container .primary a {
        color: #5CC3BB; }
      footer #sign_up .container .primary .fa-arrow-right {
        font-size: 12px;
        color: #5CC3BB;
        position: relative;
        top: -1px;
        left: 6px; }
      footer #sign_up .container h5 {
        margin-bottom: 11px; }
    footer #sign_up .emphasis.horizontal {
      width: 160px;
      position: absolute;
      top: 0;
      right: 0; }
    footer #sign_up .emphasis.vertical {
      width: 4px;
      height: 64px;
      position: absolute;
      top: 0;
      right: 0; }
  footer #links {
    width: 63.6%;
    height: 217px;
    display: flex;
    box-shadow: 0 -0.1em 0.7em rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    bottom: 0; }
    footer #links ul {
      width: 27%;
      padding-top: 21px;
      list-style-type: none; }
      footer #links ul li h5 {
        text-transform: uppercase;
        margin: 0 0 16px 0; }
        footer #links ul li h5 a {
          color: #2A2A2A; }
    footer #links div {
      margin: 36px 0 0 52px; }
      footer #links div a {
        color: #A0A0A0;
        padding-right: 20px; }

#copyright {
  padding-left: 40px; }

.emphasis {
  width: 32px;
  height: 4px;
  background-color: #E3C880; }

.truncate {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis; }
