$black: #2A2A2A;
$light_grey: #F5F5F5;
$gold: #E3C880;
$white: #FFFFFF;
$dark_grey: #353535;
$greyish_brown: #414141;
$denim: #377570;
$seafoam_blue: #5CC3BB;
$brown_grey: #A0A0A0;

$lato: 'Lato', sans-serif;
$playfair_display: 'Playfair Display', serif;
$pt_serif: 'PT Serif', serif;
$volkhorn: 'Volkhorn', serif;

$film_details_spacing: 15px;

.black {
    color: $black;
}
.light_grey {
    color: $light_grey;
}
.gold {
    color: $gold;
}
.white {
    color: $white;
}
.dark_grey {
    color: $dark_grey;
}
.greyish_brown {
    color: $greyish_brown;
}
.denim {
    color: $denim;
}
.seafoam_blue {
    color: $seafoam_blue;
}
.brown_grey {
    color: $brown_grey;
}

body {
    margin: 0;
    min-width: 1280px;

    font-family: $lato;
    font-size: 20px;
    line-height: 32px;
    &.heavy {
        font-weight: bold;
    }
}

.primary {
    a {
        font-size: 16px;
        line-height: 24px;
    }
}

nav {
    text-transform: uppercase;
    ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }
    li {
        flex-grow: 1;
    }
    &.primary {
        padding: 29px 0 11px 40px;
        word-spacing: 5px;
        #tcm-logo {
            width: 113px;

            position: relative;
            top: -5px;
        }
        a {
            color: $white;
        }
        input[type=search] {
            color: $white;
            font-size: 16px;
            width: 398px;
            height: 38px;
            padding: 0 20px;

            border-style: solid;
            border-width: 1px;
            border-color: $greyish_brown;
            border-radius: 1px;
            background-color: #303030;

            box-sizing: border-box;
            -webkit-appearance: none;

            position: relative;
            top: -4px;
        }
        .fa-search {
            color: $white;

            position: relative;
            left: -50px;
            top: -1px;
        }
        .fa-chevron-down {
            font-size: 15px;
            color: $white;
            cursor: pointer;

            position: relative;
            top: 1px;
        }
    }
    &#secondary {
        padding: 4px 0 12px 40px;
        border-style: solid;
        border-width: 1px 0;
        border-color: $greyish_brown;
        a {
            font-size: 14px;
            line-height: 16px;
            color: $brown_grey;
        }
        .fa-ellipsis-h {
            color: $brown_grey;

            position: relative;
            top: 3px;
        }
    }
}

header {
    background-color: $black;
    min-height: 338px;
    height: 569px;

    position: relative;
    nav {
        ul {
            display: flex;
        }
    }

    > div {
        width: 31%;
        padding: 0 0 5px 39px;

        position: absolute;
        bottom: 0;
        #film_duration {
            margin-right: $film_details_spacing;
        }
        #film_date {
            margin: 0 $film_details_spacing;
        }
        .film_rating {
            margin-left: $film_details_spacing;
        }
    }
    > .image {
        width: 785px;
        height: 458px;

        position: absolute;
        right: 0;
        bottom: -65px;

        background-size: cover;
    }
}

.film_rating {
    font-family: $volkhorn;
    font-weight: bold;

    border: 1px solid;
}

h1, h2 {
    margin-bottom: 16px;
}

h1 {
    font-family: $playfair_display;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
}

h2 {
    font-family: $playfair_display;
    font-size: 40px;
    line-height: 56px;
}

.subtitle {
    font-family: $lato;
    font-weight: bold;
    &.large {
        font-size: 32px;
        line-height: 40px;
    }
    &.medium {
        font-size: 24px;
        line-height: 32px;
    }
    &.small {
        font-size: 16px;
        line-height: 24px;
    }
}

h3 {
    font-family: $playfair_display;
    font-size: 28px;
    line-height: 32px;
    &.tooltip {
        color: $white;
    }
}

h4 {
    font-family: $playfair_display;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
}

h5 {
    font-family: $lato;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    &.heavy {
        font-weight: bold;
    }
    &.link {
        line-height: 32px;
    }
}

h6 {
    font-family: $lato;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}

a {
    font-family: $lato;
    text-decoration: none;
}

.tag {
    font-family: $lato;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

main {
    display: flex;
    nav, > div {
        display: flex;
        flex-direction: column;
    }
    > div {
        width: 100%;
        padding: 96px 0 0 48px;
    }
    .primary {
        a {
            color: $seafoam_blue;
        }
    }
    nav {
        width: 404px;
        background-color: $light_grey;
        ul {
            li {
                margin-bottom: 16px;
            }
        }
        &.primary {
            padding: 57px 0 11px 40px;
            box-sizing: border-box;
            li {
                &:first-child {
                    a {
                        border-color: $seafoam_blue;
                    }
                }
                a {
                    color: $black;
                    border-left-style: solid;
                    padding-left: 15px;
                    border-color: $light_grey;
                }
            }
        }
    }
    section {
        position: relative;
        margin-bottom: 12px;
        .fa-arrow-right {
            font-size: 12px;
            color: $seafoam_blue;

            position: relative;
            top: -1px;
            left: 6px;
        }
        .primary {
            position: absolute;
            top: 75px;
            right: 54px;
        }
        &#cast .row {
            height: 78px;
            margin-top: 24px;
            position: relative;
            div {
                width: 30%;
                height: 70px;
                padding: 10px;

                position: absolute;
                top: 0;
                &:hover {
                    box-shadow:  0 -1em 1em rgba(0,0,0,0.1), 
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                    cursor: pointer;
                }
            }
            div:nth-child(2) {
                left: 33%;
            }
            div:nth-child(3) {
                left: 66%;
            }

            h4, h6 {
                margin-top: 0;
            }
        }
        &#photos_videos {
            #container {
                margin: 50px 54px 0 0;
                padding: 0 0 0 0;
                font-size: 0;
                position: relative;


                div {
                    display: inline-block;
                    width: 48%;
                    margin: 0 5px 5px 0;
                    box-sizing: border-box;

                    &#main {
                        min-height: 440px;
                        margin-bottom: 0;
                        background-size: cover;
                        background-position: top 30% left 50%;

                        &:hover {
                            background-color: $black;
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                    .block {
                        display: block;
                        width: 50%;
                        height: 49%;

                        position: absolute;
                        top: 0;

                        &:nth-child(2) {
                            top: 51%;
                        }
                        div {
                            height: 100%;
                            background-size: cover;
                            background-position: top 30% left 50%;
                            &:hover {
                                background-color: $black;
                                opacity: 0.5;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        &#film_details {
            font-size: 16px;
            table {
                width: 100%;
                margin-top: 25px;
                tr {
                    td:first-child {
                        font-weight: bold;
                    }
                    td {
                        width: 20%;
                        padding: 0 5% 5px 0;
                        vertical-align: top;

                        a {
                            color: $black;
                            text-decoration: underline;
                        }
                    }
                }
            }
            h3 {
                margin-top: 31px;
            }
        }
        &#trending_on_tcm {
            #programming {
                margin-top: 31px;
                display: flex;
                .program {
                    padding: 10px 0 10px 0;
                    margin-right: auto;
                    div {
                        width: 275px;
                        height: 156px;
                        margin: 0 10px 0 10px;
                        &:nth-child(2) {
                            height: 132px;
                        }
                        h6 {
                            margin-top: 16px;
                            margin-bottom: 0;
                            padding: 5px;
                            background-color: $light_grey;
                            display: inline-block;
                        }
                        h4 {
                            margin-top: 7px;
                        }
                    }
                    &:nth-child(1) {
                        div:first-child {
                            background-image:url(https://s3.drafthouse.com/images/made/vlcsnap-2013-12-22-20h37m41s120_1050_591_81_s_c1.jpg);
                            background-size: cover;
                        }
                    }
                    &:nth-child(2) {
                        div:first-child {
                            background-image:url(https://miro.medium.com/max/678/1*79RDVkYe_fw0gd616TPI8A.jpeg);
                            background-size: cover;
                        }
                    }
                    &:nth-child(3) {
                        div:first-child {
                            background-image:url(https://attractionsmagazine.com/wp-content/uploads/2016/12/The-Princess-Bride-featured.jpg);
                            background-size: cover;
                        }
                    }
                    &:hover {
                        box-shadow:  0 -1em 1em rgba(0,0,0,0.1), 
                        0 0  0 2px rgb(255,255,255),
                        0.3em 0.3em 1em rgba(0,0,0,0.3);
                        cursor: pointer;
                    }
                }
            }
        }
        &#introductory_offer {
            margin: 71px 12px 2px 0;
            padding: 20px 2px 0 0;

            position: relative;
            .container {
                width: 98%;
                height: 435px;

                box-sizing: border-box;

                box-shadow:  0 -1em 1em rgba(0,0,0,0.1), 
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
                div {
                    display: inline-block;
                    box-sizing: border-box;
                    &.image {
                        width: 25%;
                        height: 372px;
                        margin: 34px 100px;
                        background-image:url(https://thegoldengirlblog.com/wp-content/uploads/2017/10/movie-night-in-6.jpg);
                        background-size: cover;
                    }
                    &:nth-child(2) {
                        position: absolute;
                    }
                    &.text {
                        width: 48%;
                        p {
                            font-size: 17px;
                        }
                        .primary {
                            position: static;
                        }
                    }
                    h6 {
                        margin-top: 32px;
                        margin-bottom: 0;
                        padding: 5px;
                        background-color: $light_grey;
                        display: inline-block;
                    }
                }
            }
            .emphasis.horizontal {
                width: 160px;
                position: absolute;
                top: 0;
                right: 0;
            }
            .emphasis.vertical {
                width: 4px;
                height: 64px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}
footer {
    margin-top: 114px;
    height: 321px;
    position: relative;
    > div {
        display: inline-block;
    }
    #sign_up {
        width: 37.2%;
        padding: 10px 10px 0 0;
        position: relative;
        .container {
            width: 96%;
            height: 286px;
            padding: 47px 65px;
            color: $white;
            background-color: $dark_grey;
            text-align: center;

            box-sizing: border-box;

            position: absolute;
            top: 21px;
            .primary {
                a {
                    color: $seafoam_blue;
                }
                .fa-arrow-right {
                    font-size: 12px;
                    color: $seafoam_blue;

                    position: relative;
                    top: -1px;
                    left: 6px;
                }
            }
            h5 {
                margin-bottom: 11px;
            }
        }
        .emphasis.horizontal {
            width: 160px;
            position: absolute;
            top: 0;
            right: 0;
        }
        .emphasis.vertical {
            width: 4px;
            height: 64px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    #links {
        width: 63.6%;
        height: 217px;
        display: flex;

        box-shadow:  0 -0.1em 0.7em rgba(0,0,0,0.1);

        position: absolute;
        right: 0;
        bottom: 0;
        ul {
            width: 27%;
            padding-top: 21px;
            list-style-type: none;
            li {
                h5 {
                    text-transform: uppercase;
                    margin: 0 0 16px 0;
                    a {
                        color: $black;
                    }
                }
            }
        }
        div {
            margin: 36px 0 0 52px;
            a {
                color: $brown_grey;
                padding-right: 20px;
            }
        }
    }
}
#copyright {
    padding-left: 40px;
}
.emphasis {
    width: 32px;
    height: 4px;
    background-color: $gold;
}
.truncate {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#about {
    font-size: 16px;
    table {
        margin-top: 25px;
        tr {
            td:first-child {
                font-weight: bold;
            }
            td {
                padding: 0 30px 10px 0;
            }
        }
    }
}