$black: #2A2A2A;
$light_grey: #F5F5F5;
$gold: #E3C880;
$white: #FFFFFF;
$dark_grey: #353535;
$greyish_brown: #414141;
$denim: #377570;
$seafoam_blue: #5CC3BB;
$brown_grey: #A0A0A0;

$lato: 'Lato', sans-serif;
$playfair_display: 'Playfair Display', serif;

.black {
    color: $black;
}
.light_grey {
    color: $light_grey;
}
.gold {
    color: $gold;
}
.white {
    color: $white;
}
.dark_grey {
    color: $dark_grey;
}
.greyish_brown {
    color: $greyish_brown;
}
.denim {
    color: $denim;
}
.seafoam_blue {
    color: $seafoam_blue;
}
.brown_grey {
    color: $brown_grey;
}

header {
    background-color: $black;
}

body {
    margin: 0;
    min-width: 1280px;

    font-family: $lato;
    font-size: 20px;
    line-height: 32px;
    &.heavy {
        font-weight: bold;
    }
}

h1 {
    font-family: $playfair_display;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
}

h2 {
    font-family: $playfair_display;
    font-size: 40px;
    line-height: 56px;
}

.subtitle {
    font-family: $lato;
    font-weight: bold;
    &.large {
        font-size: 32px;
        line-height: 40px;
    }
    &.medium {
        font-size: 24px;
        line-height: 32px;
    }
    &.small {
        font-size: 16px;
        line-height: 24px;
    }
}

h3 {
    font-family: $playfair_display;
    font-size: 28px;
    line-height: 32px;
    &.tooltip {
        color: $white;
    }
}

h4 {
    font-family: $playfair_display;
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-family: $lato;
    font-size: 16px;
    line-height: 24px;
    &.heavy {
        font-weight: bold;
    }
    &.link {
        line-height: 32px;
    }
}

h6 {
    font-family: $lato;
    font-size: 12px;
    line-height: 16px;
}

a {
    font-family: $lato;
    text-decoration: none;
}

.tag {
    font-family: $lato;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

nav {
    text-transform: uppercase;
    ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
        display: flex;
    }
    li {
        flex-grow: 1;
    }
    &#primary {
        padding: 29px 0 11px 40px;
        word-spacing: 5px;
        #tcm-logo {
            width: 113px;

            position: relative;
            top: -5px;
        }
        a {
            color: $white;
            font-size: 16px;
            line-height: 24px;
        }
        input[type=search] {
            color: $white;
            font-size: 16px;
            width: 398px;
            height: 38px;
            padding: 0 20px;

            border-style: solid;
            border-width: 1px;
            border-color: $greyish_brown;
            border-radius: 1px;
            background-color: #303030;

            box-sizing: border-box;
            -webkit-appearance: none;

            position: relative;
            top: -4px;
        }
        .fa-search {
            color: $white;

            position: relative;
            left: -50px;
            top: -1px;
        }
        .fa-chevron-down {
            font-size: 15px;
            color: $white;

            position: relative;
            top: 1px;
        }
    }
    &#secondary {
        padding: 4px 0 12px 40px;
        border-style: solid;
        border-width: 1px 0;
        border-color: $greyish_brown;
        a {
            font-size: 14px;
            line-height: 16px;
            color: $brown_grey;
        }
        .fa-ellipsis-h {
            color: $brown_grey;

            position: relative;
            top: 3px;
        }
    }
}